In [1]:
#importing dependencies
import glob
import pandas as pd

In [2]:
#establishing a base path to read in all csvs
files = glob.glob('C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/CitiBike_Data/2016*.csv')

#creating an empty list to store the dataframes
frame = []

#writing a simple loops of what to do with the csvs
for file in files:
    frame.append(pd.read_csv(file))

#Concatenate dataframes into 1
citibike2016_df = pd.concat(frame)

In [3]:
citibike2016_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,496.0,4/1/2016 00:00:26,4/1/2016 00:08:42,254.0,W 11 St & 6 Ave,40.735324,-73.998004,236.0,St Marks Pl & 2 Ave,40.728419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,104.0,4/1/2016 00:00:27,4/1/2016 00:02:12,311.0,Norfolk St & Broome St,40.717227,-73.988021,350.0,Clinton St & Grand St,40.715595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,128.0,4/1/2016 00:00:30,4/1/2016 00:02:38,3064.0,Myrtle Ave & Lewis Ave,40.696820,-73.937569,3059.0,Pulaski St & Marcus Garvey Blvd,40.693398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1197.0,4/1/2016 00:00:34,4/1/2016 00:20:31,3156.0,E 72 St & York Ave,40.766638,-73.953483,490.0,8 Ave & W 33 St,40.751551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,419.0,4/1/2016 00:00:46,4/1/2016 00:07:46,116.0,W 17 St & 8 Ave,40.741776,-74.001497,405.0,Washington St & Gansevoort St,40.739323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Converting starttime and endtime to datetime to prepare for splitting and inserting into new columns
citibike2016_df['Start Date'] = pd.to_datetime(citibike2016_df['starttime']).dt.date
citibike2016_df['Start Time'] = pd.to_datetime(citibike2016_df['starttime']).dt.time
citibike2016_df['Stop Date'] = pd.to_datetime(citibike2016_df['stoptime']).dt.date
citibike2016_df['Stop Time'] = pd.to_datetime(citibike2016_df['stoptime']).dt.time

In [ ]:
# Writing a function to convert tripduration from seconds to hours, minutes, seconds in a new column
def format_duration(row):
    seconds = row.tripduration
    minutes, seconds = divmod(seconds, 60)
    hours, minutes = divmod(minutes, 60)
    return '{:02d} : {:02d} : {:02d}'.format(hours, minutes, seconds)

# applying the function to the dataframe
citibike2016_df['Trip Duration'] = citibike2016_df.apply(format_duration, axis=1)
citibike2016_df.head()

In [ ]:
# Getting length of dataframe
total_rows = citibike2014_df.count()
print(total_rows +1)